/* 有序列表 */
/* 有序列表着色 */
.list[data-subtype="o"] .li[data-subtype="o"] .protyle-action.protyle-action--order,
.protyle-action::after {
    color: var(--lite-li-items);
}

/* 无序列表 */
/* 无序列表着色 */
.list[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    fill: var(--lite-li-items);
}

/*
 * 修改有序列表的按层级缩进显示序号
 * 这部分代码从Savor抄的，我直接写在这里了
 * 只抄了9级缩进，后面的15级缩进我觉得没必要
 */
.li[data-subtype="o"] .li[data-subtype="o"] .protyle-action--order {
    color: transparent !important;
}

.list[data-subtype="o"] {
    counter-reset: o1 0 o2 0 o3 0;
}

.li[data-subtype="o"] > .protyle-action::after {
    padding: 3px 2px;
    width: 24px;
    display: flex;
    justify-content: center;
    /* color: var(--lite-li-items); */
    margin: -20px 0 0 -8px !important;
}

.li[data-subtype="o"] .li[data-subtype="o"] > .protyle-action::after {
    counter-increment: o2;
    content: counter(o2, lower-latin)".";
    position: absolute;
}

.li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] > .protyle-action::after {
    counter-increment: o3;
    content: counter(o3, lower-roman)".";
    position: absolute;
}

.li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] > .protyle-action::after {
    counter-increment: o1;
    content: counter(o1, decimal)".";
    position: absolute;
}

.li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] > .protyle-action::after {
    counter-increment: o2;
    content: counter(o2, lower-latin)".";
    position: absolute;
}

.li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] > .protyle-action::after {
    counter-increment: o3;
    content: counter(o3, lower-roman)".";
    position: absolute;
}

.li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] > .protyle-action::after {
    counter-increment: o1;
    content: counter(o1, decimal)".";
    position: absolute;
}

.li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] > .protyle-action::after {
    counter-increment: o2;
    content: counter(o2, lower-latin)".";
    position: absolute;
}

.li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] .li[data-subtype="o"] > .protyle-action::after {
    counter-increment: o3;
    content: counter(o3, lower-roman)".";
    position: absolute;
}