/* h1标签 */
.protyle-wysiwyg [data-node-id].h1 {
    color: var(--mk-block-header-h1);
    display: flex;
}

/* h1标签 */
.protyle-wysiwyg [data-node-id].h1::before {
    content: "";
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    background: url(../../resources/h1.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    padding-top: 8.4px;
    margin-right: 0.2em;
}

/* h1标签 */
.protyle-wysiwyg [data-node-id].h1[fold="1"]::before {
    content: "";
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem !important;
    background: url(../../resources/h1.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    position: static;
    border-radius: unset;
    margin-top: unset;
    margin-right: 0.2em;
}

/* h1标签 */
.sy__outline ul.b3-list.b3-list--background [data-subtype=h1],
ul.b3-list.b3-list--background [data-subtype=h1] .b3-list-item__text {
    color: var(--mk-block-header-h1);
}

/* h2标签 */
.protyle-wysiwyg [data-node-id].h2 {
    color: var(--mk-block-header-h2);
    display: flex;
}

/* h2标签 */
.protyle-wysiwyg [data-node-id].h2::before {
    content: "";
    display: inline-block;
    width: 1.55rem;
    height: 1.55rem;
    background: url(../../resources/h2.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    padding-top: 7.44px;
    margin-right: 0.2em;
}

/* h2标签 */
.protyle-wysiwyg [data-node-id].h2[fold="1"]::before {
    content: "";
    display: inline-block;
    width: 1.55rem;
    height: 1.55rem !important;
    background: url(../../resources/h2.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    position: static;
    border-radius: unset;
    margin-top: unset;
    margin-right: 0.2em;
}

/* h2标签 */
.sy__outline ul.b3-list.b3-list--background [data-subtype=h2],
ul.b3-list.b3-list--background [data-subtype=h2] .b3-list-item__text {
    color: var(--mk-block-header-h2);
}

/* h3标签 */
.protyle-wysiwyg [data-node-id].h3 {
    color: var(--mk-block-header-h3);
    display: flex;
}

/* h3标签 */
.protyle-wysiwyg [data-node-id].h3::before {
    content: "";
    display: inline-block;
    width: 1.38rem;
    height: 1.38rem;
    background: url(../../resources/h3.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    padding-top: 4px;
    margin-right: 0.2em;
}

/* h3标签 */
.protyle-wysiwyg [data-node-id].h3[fold="1"]::before {
    content: "";
    display: inline-block;
    width: 1.38rem;
    height: 1.38rem !important;
    background: url(../../resources/h3.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    position: static;
    border-radius: unset;
    margin-top: unset;
    margin-right: 0.2em;
}

/* h3标签 */
.sy__outline ul.b3-list.b3-list--background [data-subtype=h3],
ul.b3-list.b3-list--background [data-subtype=h3] .b3-list-item__text {
    color: var(--mk-block-header-h3);
}

/* h4标签 */
.protyle-wysiwyg [data-node-id].h4 {
    color: var(--mk-block-header-h4);
    display: flex;
}

/* h4标签 */
.protyle-wysiwyg [data-node-id].h4::before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url(../../resources/h4.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    padding-top: 4px;
    margin-right: 0.2em;
}

/* h4标签 */
.protyle-wysiwyg [data-node-id].h4[fold="1"]::before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem !important;
    background: url(../../resources/h4.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    position: static;
    border-radius: unset;
    margin-top: unset;
    margin-right: 0.2em;
}

/* h4标签 */
.sy__outline ul.b3-list.b3-list--background [data-subtype=h4],
ul.b3-list.b3-list--background [data-subtype=h4] .b3-list-item__text {
    color: var(--mk-block-header-h4);
}

/* h5标签 */
.protyle-wysiwyg [data-node-id].h5 {
    color: var(--mk-block-header-h5);
    display: flex;
}

/* h5标签 */
.protyle-wysiwyg [data-node-id].h5::before {
    content: "";
    display: inline-block;
    width: 1.13rem;
    height: 1.13rem;
    background: url(../../resources/h5.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    padding-top: 4px;
    margin-right: 0.2em;
}

/* h5标签 */
.protyle-wysiwyg [data-node-id].h5[fold="1"]::before {
    content: "";
    display: inline-block;
    width: 1.13rem;
    height: 1.13rem !important;
    background: url(../../resources/h5.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    position: static;
    border-radius: unset;
    margin-top: unset;
    margin-right: 0.2em;
}

/* h5标签 */
.sy__outline ul.b3-list.b3-list--background [data-subtype=h5],
ul.b3-list.b3-list--background [data-subtype=h5] .b3-list-item__text {
    color: var(--mk-block-header-h5);
}

/* h6标签 */
.protyle-wysiwyg [data-node-id].h6 {
    color: var(--mk-block-header-h6);
    display: flex;
}

/* h6标签 */
.protyle-wysiwyg [data-node-id].h6::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url(../../resources/h6.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    padding-top: 4px;
    margin-right: 0.2em;
}

/* h6标签 */
.protyle-wysiwyg [data-node-id].h6[fold="1"]::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem !important;
    background: url(../../resources/h6.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    position: static;
    border-radius: unset;
    margin-top: unset;
    margin-right: 0.2em;
}

/* h6标签 */
.sy__outline ul.b3-list.b3-list--background [data-subtype=h6],
ul.b3-list.b3-list--background [data-subtype=h6] .b3-list-item__text {
    color: var(--mk-block-header-h6);
}