/* 集市相关的主题 */
/* 设置中集市的上方筛选栏 */
body[vslite*="bazaar/"] .config__tab-container.config__tab-container--top .config-bazaar__panel .config-bazaar__title {
    padding: 8px 16px;
}

/* 集市中筛选栏中按钮 */
body[vslite*="bazaar/"] .config__tab-container.config__tab-container--top .config-bazaar__panel .config-bazaar__title .b3-button {
    padding: 0px 8px;
}

/* 集市中选中的标签栏 */
body[vslite*="bazaar/"] .config__tab-container.config__tab-container--top .layout-tab-bar .item.item--focus {
    color: white;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(72, 72, 72);
}