.dock {
    background: var(--mk-dock-background);
}

.dock#dockLeft {
    border-right: none;
}

.dock#dockRight {
    border-left: none;
}

.dock#dockBottom {
    border-bottom: none;
}

.dock__item {
    justify-content: center;
    border-radius: unset;
    margin: 5px;
    color: var(--mk-dock-item-color);
}

.dock__item svg {
    height: 20px;
    width: 20px;
}

.dock__item:hover,
.dock__item--active {
    background-color: unset;
}

.dock__item:hover svg,
.dock__item--active svg {
    color: var(--mk-dock-item-svg-color--hover);
}

body.body--blur .dock__item--activefocus,
.dock__item--activefocus {
    color: unset !important;
    background-color: unset !important;
}