/* 文档树 */
.sy__file div.fn__flex-1 {
    overflow: auto;
}

.sy__file div.fn__flex-1:hover::-webkit-scrollbar-thumb {
    background: var(--mk-filetree-scrollbar-thumb);
    opacity: 1;
}

.sy__file div.fn__flex-1::-webkit-scrollbar-track-piece {
    opacity: 0;
}

.sy__file div.fn__flex-1::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.sy__file div.fn__flex-1::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.sy__file div.fn__flex-1::-webkit-scrollbar-thumb:hover {
    background: var(--mk-filetree-scrollbar-thumb--hover);
}

.sy__file div.fn__flex-1::-webkit-scrollbar-thumb:active {
    background: var(--mk-filetree-scrollbar-thumb--active);
}

.sy__file .b3-list--background {
    border-radius: 8px;
    border: 2px solid var(--mk-filetree-scrollbar-thumb--hover);
}

.sy__file .b3-list--background .b3-list-item {
    border-radius: unset;
    padding: 1px 5px;
    margin: unset;
}

.sy__file > .block__icons {
    border-bottom: 1px solid var(--mk-filetree-scrollbar-thumb);
}

.sy__file > .b3-list {
    border-top: 1px solid var(--mk-filetree-scrollbar-thumb);
}

/* 第1级缩进 */
.sy__file ul.b3-list--background > ul > li.b3-list-item > span.b3-list-item__toggle {
    padding-left: 12px !important;
}

/* 第2级缩进 */
.sy__file ul.b3-list--background > ul > ul > li.b3-list-item > span.b3-list-item__toggle {
    padding-left: 20px !important;
}

/* 第3级缩进 */
.sy__file ul.b3-list--background > ul > ul > ul > li.b3-list-item > span.b3-list-item__toggle {
    padding-left: 28px !important;
}

/* 第4级缩进 */
.sy__file ul.b3-list--background > ul > ul > ul > ul > li.b3-list-item > span.b3-list-item__toggle {
    padding-left: 36px !important;
}

/* 第5级缩进 */
.sy__file ul.b3-list--background > ul > ul > ul > ul > ul > li.b3-list-item > span.b3-list-item__toggle {
    padding-left: 44px !important;
}

/* 第6级缩进 */
.sy__file ul.b3-list--background > ul > ul > ul > ul > ul > ul > li.b3-list-item > span.b3-list-item__toggle {
    padding-left: 52px !important;
}

/* 第7级缩进 */
.sy__file ul.b3-list--background > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > span.b3-list-item__toggle {
    padding-left: 60px !important;
}

/* 大纲 */
/* 2级标题缩进 */
.sy__outline .fn__flex-1 .b3-list .b3-list-item[data-subtype="h2"] > .b3-list-item__toggle {
    padding-left: 14px !important;
}

/* 3级标题缩进 */
.sy__outline .fn__flex-1 .b3-list .b3-list-item[data-subtype="h3"] > .b3-list-item__toggle {
    padding-left: 24px !important;
}

/* 4级标题缩进 */
.sy__outline .fn__flex-1 .b3-list .b3-list-item[data-subtype="h4"] > .b3-list-item__toggle {
    padding-left: 34px !important;
}

/* 5级标题缩进 */
.sy__outline .fn__flex-1 .b3-list .b3-list-item[data-subtype="h5"] > .b3-list-item__toggle {
    padding-left: 44px !important;
}

/* 6级标题缩进 */
.sy__outline .fn__flex-1 .b3-list .b3-list-item[data-subtype="h6"] > .b3-list-item__toggle {
    padding-left: 54px !important;
}