/*隐藏块滚动条*/
.protyle-scroll {
    display: none;
}

/* 滚动条 */
.protyle .protyle-scroll {
    width: 10px;
}

.protyle-content:hover::-webkit-scrollbar-thumb {
    opacity: 1;
    background: var(--mk-protyle-content-scrollbar-thumb);
}

.protyle-content::-webkit-scrollbar {
    width: 15px;
}

.protyle-content::-webkit-scrollbar-track {
    border: 1px solid var(--mk-protyle-content-scrollbar-track-border);
}

.protyle-content::-webkit-scrollbar-thumb {
    opacity: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms, opacity 1s cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms, opacity 1s cubic-bezier(0, 0, 0.2, 1) 0ms;
    box-shadow: none;
}

.protyle-content::-webkit-scrollbar-thumb:hover {
    background: var(--mk-protyle-content-scrollbar-thumb--hover);
}

.protyle-content::-webkit-scrollbar-thumb:active {
    background: var(--mk-protyle-content-scrollbar-thumb--active);
}

/* 移除移动端编辑器滚动条 */
#editor .protyle-content::-webkit-scrollbar {
    display: none;
}