/* 整个设置面板 */
div[vslite="SettingPanel"] {
    user-select: none;
}

/* h2标签 */
div[vslite="SettingPanel"] h2.h2 {
    color: var(--mk-block-header-h2);
    display: flex;
    line-height: 2rem;
}

/* h2标签 */
div[vslite="SettingPanel"] h2.h2::before {
    content: "";
    display: inline-block;
    width: 1.55rem;
    height: 1.55rem;
    background: url(../../resources/h2.bmp) no-repeat center center;
    background-size: contain;
    filter: invert(75%);
    padding-top: 7.44px;
    margin-right: 0.2em;
}