/* 页面底部状态栏 */
.status {
    background-color: var(--lite-status-background);
    box-sizing: border-box;
    z-index: 2;
    height: 32px;
    line-height: 32px;
    border-top: unset;
    padding: 0 5px;
    color: #ffffff;
}

/* 状态栏内所有文本 */
.status * {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Cascadia Mono', 'Cascadia Code', 'Microsoft YaHei UI';
}

/* 状态栏中显示/隐藏侧边栏按钮 */
#barDock:hover {
    background-color: #5284c9 !important;
}

/* 状态栏中帮助按钮 */
#statusHelp:hover {
    background-color: #5284c9 !important;
}

/* 状态栏左边小箭头 */
.toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover {
    background-color: var(--mk-toolbar-item--hover);
}

.toolbar__item--active {
    background-color: var(--mk-toolbar-item--active);
}