/* 顶部标题栏 */
body.body--blur .toolbar {
    background: var(--mk-toolbar-background--blur);
}

body.body--blur .toolbar #drag {
    color: var(--mk-toolbar--blur-item);
}

body.body--blur .toolbar .toolbar__text {
    color: var(--mk-toolbar-text--blur);
}

body.body--blur .toolbar .toolbar__svg {
    color: var(--mk-toolbar-svg--blur);
}

body.body--blur .toolbar .toolbar__item {
    color: var(--mk-toolbar--blur-item);
}

/* 应用顶部工具栏 */
.toolbar {
    background-color: var(--mk-toolbar-background);
    border-bottom: none;
}

/* 应用顶部标题 */
.toolbar #drag {
    color: var(--mk-toolbar-item);
    font-size: 14px;
    font-weight: 600;
}

/* 应用顶部工具栏文字 */
.toolbar .toolbar__text {
    color: var(--mk-toolbar-text);
    font-weight: bold;
}

.toolbar .toolbar__svg {
    color: var(--mk-toolbar-svg);
}

.toolbar .toolbar__item {
    color: var(--mk-toolbar-item);
}